<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="** tenant id **" />
    <add key="VaultName" value="** vault name here **" />
    <add key="VaultLocation" value="** vault location **" />
    <add key="ResourceGroupName" value="** resource group name **" />
    <add key="SubscriptionId" value="** subscription id **" />
    <add key="SPObjectId" value="** object id of the service principal **" />
    <add key="SPSecret" value="** client secret of the AD application **" />
    <add key="ApplicationId" value="** AD application id corresponding to the service principal **" />
  </appSettings>
</configuration>


