<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="VaultName" value="davrecoverysample" />
    <add key="VaultLocation" value="westus" />
    <add key="ResourceGroupName" value="kvvmext-wus" />
    <add key="SubscriptionId" value="33f39d49-6173-49bf-9789-db5548ee6d73" />
    <add key="SPObjectId" value="7f41e14c-b2c6-4a26-9397-9d305ad5326c" />
    <add key="SPCredentialCertificateThumbprint" value="7E948CB730F2B7419DF62467C94704488D4D795D" />
    <add key="ApplicationId" value="af20ff0c-a886-484d-b81b-4022c75e50ea" />
  </appSettings>
</configuration>


